# Snakamake
.snakemake/*

# PyCharm
.idea/

#workflow/scripts/
workflow/logs/
workflow/.snakemake/
output/
*.log
.snakemake/
*.gcount
*.snp.list
*.pdf
*.png
*.RData
*test*.*
results/
.cache/
res_cojo/
