# Snakamake
.snakemake/*

# PyCharm
.idea/

#workflow/scripts/
workflow/logs/
workflow/.snakemake/
output/
*.log
.snakemake/
*.gcount
*.snp.list
*.pdf
*.png
*.RData
*test*.*
results/
.cache/
res_cojo/
workflow/scripts/s05_collect_credible_sets_lazy.R
workflow/scripts/collector.R
workflow/scripts/run_collector.sh
conf/loci_list.txt
conf/path_30loci.txt
